body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  background-color: #faf3e0;
}


h1 {
  margin: 20px auto 0 auto;
  font-family: 'Sacramento', cursive;
  font-size: 5rem ;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3rem;
}




.top_container {
  background-color: #faf3e0;
  position: relative;
  padding-top: 80px;

}



.bottom-container {
  background-color: #faf3e0;
  padding-top: 20px;
  padding-bottom: 5px;

}

.pro {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 10%;
  top: 15%;


}


.bottom-cloud {
  position: absolute;
  left: 10%;
  bottom: -20%;
}

table {

  padding-bottom: 20px;
  margin: 0 auto;
  font-size: 25px;

}


hr{
  border-top: 2px double #8c8b8b;
  width: 50%;
}

.programmer {
  font-weight: bolder;
  margin-bottom: 0;
}

.skill-row {
  width: 50%;
  margin: 40px auto;

}

.skill{
  width: 650px;
  margin: 3% auto 3% auto;


}

.computer {
  float: left;
}

.profile {
  width: 750px;
  margin: 20px auto 70px auto;
}

.prof {

  float: left;
}

.hello {
  padding-top: 6%;
  margin: 0;
}

.world {

}

.myButton {
  box-shadow: 0 2px 5px 0 #b3a34b;
	background-color:#e3d791;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:'Merriweather', serif;
	font-size:14px;
  font-weight:bold;
  	padding:8px 18px;
  	text-decoration:none;
  	text-shadow:-2px 1px 4px #80781f;
}
.myButton:hover {
	background-color:#c7ba70;
}
.myButton:active {
	position:relative;
	top:1px;
}
